html {
  background: white;
}

p, a {
  font-family: 'Karla', 'sans-serif';
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  min-height: 100vh;
  padding-left: 10%;
   padding-right: 10%;
   flex-direction: column;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
   /* padding-top: 10%;*/
    width: 100%;

}


.main {
  text-align: left;
  padding-top: 10%;
  color: black;
  flex: 1;
/*  position: relative;*/
}

.main p {
  font-size: 18pt;
}

.main a {
  text-decoration: underline;
}

.navigation {
  list-style: none;
  margin: 0;
  /*background: #103f4d;*/

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;

}

a {
  text-decoration: none;
   -o-transition:color .25s ease-out;
    -ms-transition:color .25s ease-out;
    -moz-transition:color .25s ease-out;
    -webkit-transition:color .25s ease-out;
    /* ...and now override with proper CSS property */
    transition:color .25s ease-out;
}

a:visited {
  color: black;
}

a:hover {
  color:#dd5a5f;
}

li a {
  color: #819199;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 3em;
  padding-left: 3em;
  
}


.navigation a:active {
  color: #dd5a5f;
}


.social {
  list-style: none;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.social li a {
  font-size: 10pt;
  padding: 1em;
}


.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 2 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

/*body {
  padding: 2em; 
}*/
