html {
  background: white;
}


.image img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 700px;
  height: 350px;
}

p, a, h1, h2, h3, h4, li {
  font-family: 'Karla', 'sans-serif';
}

.project1 h4 {
  border-bottom: 2px solid #fabd6d;
  display: inline;
}

.project1 p {
  font-size:12pt; 
  margin-bottom: 60px;
}



.project4 h4 {
  border-bottom: 2px solid #f26a67;
  display: inline;
}

.project4 p {
  font-size:12pt; 
  margin-bottom: 60px;
}

.project2 h4 {
  border-bottom: 2px solid #4e66ad;
  display: inline;
}

.project2 p {
  font-size:12pt; 
  margin-bottom: 60px;
}


.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  min-height: 100vh;
  padding-left: 15%;
  padding-right: 15%;
  flex-direction: column;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

}


.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  font-family: 'Inconsolata', 'sans-serif';
  text-align: center;
  font-size: 24pt;
  padding-top: 20px;
}

.footer {
    padding-top: 50px;
    width: 100%;
}

.footer li {
  font-size: 12pt;
  padding: 1em;
}

.footer p {
  position: absolute;
  float:left;
  display:inline-block;
}

.footer a {
  color: grey;
}


.main {
  text-align: left;
/*  padding-top: 5%;*/
  color: black;
  flex: 1;
/*  position: relative;*/
}

.home p {
  font-size: 24pt;
  line-height: 32pt;

}
.home a {
  border-bottom: 10px solid rgb(178, 226, 211);
  display: inline-block;
  height: 30px;
}

.home a:hover {
  background-color: rgb(178, 226, 211);
}







.navigation {
  list-style: none;
  margin: 0;
  /*background: #103f4d;*/

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  /*justify-content: center;*/
}

.navigation a:hover {
  border-bottom: 2px solid rgb(178, 226, 211);
  padding-bottom: 10px;

  
}


a {
  text-decoration: none;
   -o-transition:color .25s ease-out;
    -ms-transition:color .25s ease-out;
    -moz-transition:color .25s ease-out;
    -webkit-transition:color .25s ease-out;
    /* ...and now override with proper CSS property */
    transition:color .25s ease-out;
}

.home a:visited {
  color: #333333;
}

.home a {
  color: #333333;
}

.home a:visited {
  color: #333333;
}




.navigation li {
  color: grey;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 3em;
  font-size: 12pt;
  /*padding-left: 3em;*/
  
}

.navigation li:nth-child(2) {
  padding-left: 60px;
}


.navigation a {
	color: grey;
}

li a:active {
  color: #029D6D;
}

/*WORK.HTML*/
.project {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: left;

   flex: 1 auto;
   flex-direction: row; 


	/*z-index: 100;
	position: absolute;	
	opacity: 0.3;
	margin-left: 60%;
	margin-top: 5%;*/
}

.project a:visited {
  color: #333333;
}

.work-col:nth-child(2) a:hover {
 background-color: rgb(178, 226, 211);
}

.work-row {
  float:left;
  display: inline-block;
  padding-top: 30px;
}

.work-col {
  display: inline-block;
  float: left;
}

.work-col:nth-child(2) {
  padding-left: 50px;

}



.work-row img:hover {
	opacity: 0.5;
}

.work-col h2 {
  color: #333333;
  display: block;
  margin-top: 0px;
  margin-bottom: -10px;
}

.work-col h3 {
  color: #BBBBBB;
  font-weight: 500;
  display: block;
   margin-bottom: -10px;
}

.work-col h4 {
  color: #029D6D;
  font-size: 10pt;
  font-family: 'Inconsolata', 'sans-serif';
  display: block;
  margin-bottom: -10px;
}

.receiver-col h4 {
  color: #029D6D;
  font-size: 10pt;
  font-family: 'Inconsolata', 'sans-serif';
}

.receiver-col h3 {
  color: #BBBBBB;
  font-weight: 500;
  display: block;
   margin-bottom: -10px;
}

.receiver-col h2 {
  color: #333333;
  display: block;
  margin-bottom: -10px;
}



/*WORK END*/

.social {
  list-style: none;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;

}


.social-item {
	justify-content: center;
}



@media (max-width: 768px) {
  .navigation a {font-size: 80%}
  .footer a {font-size: 80%}
  .navigation li:nth-child(2) {padding-left: 0px;}
  .work-col:nth-child(2) {padding-left: 0px; padding-top: 20px;padding-bottom: 20px;}
  .footer p {clear:left;}

}}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
/*  .navigation { order: 1;}*/
  .main    { order: 1; }
  .project {order:2;}
  .wrapper-image {order: 4}
  .footer  { order: 5; }


}

/*resume*/
.column-center {
  display: inline-block; width: 33%; 
}

.column-right {
  float: right; width: 33%; 
}

.column-left {
  float: left; width: 33%; 
}

.column-right li {
/*  padding-top: 1em;*/
  line-height: 20pt;
}

.column-center li {
/*    padding-top: 1em;*/
  line-height: 20pt;
}

.main li {
  list-style: none;
}


/*RECEIVER*/


.receiver-col {
  display: block;
  width: 33%; 
  float: left;
}

.receiver-col:nth-child(2) {
  display: inline-block;
  width: 66%; 
  float: left;
}

@media (max-width: 768px) {
  .receiver-col {
    clear: left;
    width: 100%;
  }
  }

