@font-face {
	font-family: Atto;
	src: url(/atto.otf);
}

body {
	font-family: Atto, Helvetica, Arial, sans-serif;
	font-size: 22px;
	line-height: 30px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}