html,body{ margin:0; padding:0; height:100%; width:100%; }
.wrapper{
  height:100%;
  width:100%;
  overflow:auto;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
}


.wrapper {
  	background: #007661; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#007661, #008ECB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#007661, #008ECB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#007661, #008ECB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#007661, #008ECB); /* Standard syntax */
    overflow-x: hidden;
}

.text {
	padding-left: 10%;
	padding-right: 10%;
}

p {
	text-align: center;
	font-family: Helvetica;
	font-size: 64px;
	color: white;
	border-top: 0.5em;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #FFBE00;
}

#tukker, #tukker a {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

#tukker a:hover {
	color: #FFBE00;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFBE00;
	}